/*
form {
    position: fixed;
    background: #e6e6e6;
}
*/

div.trans-box {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.trans-box p {
  font-weight: bold;
}

.instagram-list {
    list-style: none;
}

.instagram-list__element {
    display: inline;
}

.instagram-list__element__img {
    border-radius: 6px;
    margin: 6px;
}